@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .img-section {
    width: auto !important;
    height: 500px !important;
  }
  .form-control {
    display: block !important;
  }
  form {
    align-items: center !important;
  }
  .form-section > div {
    width: auto !important;
  }
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
}
.img-section {
  width: 40%;
  background: url(https://images.unsplash.com/photo-1617812895996-9a016b8d2ef1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80)
    no-repeat center center/cover;
  height: 100vh;
}
.img-body {
  position: relative;
  top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  gap: 10px;
}
.logo {
  max-width: 50px;
}
.logo-text {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}

/* Form Section */
.form-section {
  width: 70%;
  margin: auto;
  line-height: 1.3;
}
form {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 1px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
label {
  text-transform: uppercase;
  font-size: 0.8rem;
}
input {
  height: 25px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}
input:invalid {
  background-color: red;
  color: white;
}
input:focus:valid {
  background-color: green;
  color: white;
}
.form-section > div > div {
  margin-top: 10px;
}
.form-section > div {
  padding: 20px;
  width: 80%;
  color: #fff;
}
.form-control {
  display: flex;
  gap: 50px;
}
.btn-div {
  padding: 0 20px;
}
.btn-div button {
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: brown;
  color: white;
  box-shadow: 0 1px 5px #000;
  margin-bottom: 20px;
  cursor: pointer;
}
.btn-div button:hover {
  background-color: rgb(136, 35, 35);
}
/* Utility Classes */
.text-white {
  color: #fff;
}
